/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/



.wrap {
  width: 1030px;
}

#inner-content {
    width: 1030px;
}

#inner-footer {
    width: 1030px;
}


/*********************
HEADER STYLES
*********************/

.header {}

	#logo {}

	.logoimg{
   display:block;
   width: 212%;
   margin-top: 17px;
  }


/*********************
HEADER STYLES
*********************/
.header {
    position: fixed;
    right: 0;
    left: 0;
    margin: 0;
    min-height: 50px;
   padding: 10px;
    background-color:rgba(0, 0, 0, 0.680392);
    font-family: Open Sans;
    font-weight: 300;
    z-index: 9999;
}


/****************
MENU STYLE
*****************/

.nav .sub-menu {
  display:block !important;
}






/***************
BUILDER 
****************/

.containit { 
margin-top: -130px;	
max-width:1200px;
padding-left: 10%;
padding-right:10%;
padding-top: 5%;}


.containit2 { 
margin-top: -200px;	
max-width:1200px;
/*padding-left: 10%;
padding-right:10%;
padding-top: 5%;*/
padding: 0px;}

.containit3 { 
margin-top: -217px;	
max-width:1200px;
/*padding-left: 10%;
padding-right:10%;
padding-top: 5%;*/
padding: 0px !important; }

.inner-container-page {
padding-left: 10%;
padding-right:10%;
padding-top: 8%;
}


/***************
Discover Milton
****************/


body.page-id-22 .containit { 
margin-top: -130px;	
max-width:1200px;
padding-left: 10%;
padding-right:10%;
padding-top: 1%;}


div.amenitiesmenu a {
font-family: Open Sans;
color:  rgba(99, 100, 102, 0.7);
font-size: 0.875em;/* Approximation due to font substitution */
font-weight: 600;
line-height: 3.824;/* Approximation due to font substitution */
text-align: left;
text-decoration: none;
}

/*********************
CTA BOX ABOVE FOOTER
**********************/

.cta-text-box-w-overlay-container {
	height: 300px;
	width: 456px;
}
.cta-text-box-w-overlay {
    padding: 16%;
}


/******************************************************************
            PROPERTY RESULTS
******************************************************************/
.page-template-page-property-results-php #main {
  padding: 100px 40px; }

.page-template-page-property-results-php h1 {
  width: 350px;
  text-align: center;
  margin: 0 auto;
  font-family: Georgia, serif;
  font-style: italic; }

.page-template-page-property-results-php .pagination a:hover, .page-template-page-property-results-php .pagination a:focus, .page-template-page-property-results-php .pagination span:hover, .page-template-page-property-results-php .pagination span:focus {
  background-color: none !important;
  color: #5c371d; }

.page-template-page-property-results-php .pagination {
  margin: 0px;
  text-align: right; }
  .page-template-page-property-results-php .pagination span {
    display: inline;
    padding: 0.3em;
    color: #5c371d; }
  .page-template-page-property-results-php .pagination .current {
    border: 1px solid #5c371d;
    color: #5c371d;
    font-weight: bold; }
  .page-template-page-property-results-php .pagination .disabled {
    display: none !important; }
  .page-template-page-property-results-php .pagination a {
    color: #5c371d;
    display: inline;
    padding: 0.3em; }

.page-template-page-property-results-php .style-selector {
  margin-top: 25px;
  padding: 10px 0;
  border-top: 1px solid #5c371d;
  border-bottom: 1px solid #5c371d; }
  .page-template-page-property-results-php .style-selector .list-view {
    padding-left: 20px;
    margin-top: 10px;
    background: url(../images/list-view.png) no-repeat 0 0;
    display: block;
    float: left; }
  .page-template-page-property-results-php .style-selector .grid-view {
    padding-left: 20px;
    margin-left: 10px;
    margin-top: 10px;
    background: url(../images/grid-view.png) no-repeat 0 0;
    display: block;
    float: left; }
  .page-template-page-property-results-php .style-selector .explore-button {
    height: 38px;
    display: block;
    float: right;
    padding: 0 10px;
    line-height: 40px;
    background-color: #849690;
    color: #f7f3ed;
    border: none;
    font-size: 14px; }

.page-template-page-property-results-php .results-info {
  margin-top: 20px;
  margin-bottom: 20px; }
  .page-template-page-property-results-php .results-info .leftside {
    width: 150px;
    float: left; }
  .page-template-page-property-results-php .results-info .rightside {
    width: 400px;
    float: right;
    text-align: right; }


.page-template-page-property-results-php .display-grid-view li {
  width: 50%;
  display: inline-block;
  float: none;
  max-height: 450px; }

.page-template-page-property-results-php .display-grid-view li:nth-child(odd) {
  float: left; }

.page-template-page-property-results-php .display-grid-view .property {
  font-family: Georgia, serif;
  width: 90%;
  padding-bottom: 20px;
  //border-bottom: 1px solid #5c371d;
  margin-bottom: 20px; }
  
.page-template-page-property-results-php .display-grid-view .property .address{
    width: 250px; 
}




  .page-template-page-property-results-php .display-grid-view .property .address a{
    font-family: Georgia !important;
    color:  #0f6748;
    font-size: 1.275em;
    font-weight: 400;
    text-align: left;
    line-height: 1;
    padding-right: 0 !important; 
}
  

  .page-template-page-property-results-php .display-grid-view .property .property-image {
   
    //float: left;
   // width: 190px; 
  }
   

    .page-template-page-property-results-php .display-grid-view .property .property-image img {
         width: 440px;
    height: 309px; }
  

  .page-template-page-property-results-php .display-grid-view .property .property-details {
   // width: 130px;
    height: 89px;
   // float: left;
    padding-left: 15px;

    position: relative;
    line-height: 1.6; 
    text-align: right;
    font-family: OpenSans;
color:  #636466;

font-weight: 300;

  }
    


    .page-template-page-property-results-php .display-grid-view .property .property-details .price {
      font-family: Georgia;
      color:  #0f6748;
      font-size: 1.375em;
      font-weight: 400;
      line-height: 1; 
      text-align: right;
      margin: 6px 0 !important;
    }
    .page-template-page-property-results-php .display-grid-view .property .property-details .see-more {
      height: 30px;
      display: block;
      line-height: 30px;
      text-align: center;
      width: 100px;
      background-color: #849690;
      color: #f7f3ed;
      border: none;
      font-size: 14px;
      margin: 10px 0; }
    .page-template-page-property-results-php .display-grid-view .property .property-details .sotheby {
      font-size: 12px;
      line-height: 1.5;
      position: absolute;
      bottom: 0px;
      display: none; }
  .page-template-page-property-results-php .display-grid-view .property .sotheby2 {
    font-size: 12px;
    line-height: 1.5;
    font-style: italic;
    float: left;
    clear: left; }
  .page-template-page-property-results-php .display-grid-view .property .description {
    margin-top: 15px;
    font-size: 11px;
    display: none; }


    .maxheight{max-height:89px; } 


   .page-template-page-property-results-php .display-grid-view .property .propertyid{/* Inline Style */
font-family: OpenSans;
color:  #636466;
font-size: 0.875em;/* Approximation due to font substitution */
font-weight: 400;
line-height: 1.929;/* Approximation due to font substitution */
text-align: left;}



/*********************** 
HERO HEADER ON ALL PAGES
***********************/

.herorow {
    min-height: 400px;
    height: 650px;
   } 




 .bulllist  {
    list-style: disc;
    padding-left: 8%;
    font-family: Open Sans !important;
color:  #646464;
font-size: 1.313em;
font-weight: 300;
line-height: 1.55;
text-align: left;
   
   }


   p.green-cta-text img {
width: 18px;
display: inline-block;
/*padding-right: 5px;*/ 
}

.green-cta-text a {font-family: Open Sans;
color:  #ffffff;
font-size: 0.825em;/* Approximation due to font substitution */
font-weight: 600;
line-height: 3.824;/* Approximation due to font substitution */
//text-align: right;
margin-top: 0px !important;
//padding-right: 5px;
//padding-left: 22px;
text-decoration: none !important; 
}


div.premierbuildermenu a {
font-family: Open Sans;
color:  rgba(99, 100, 102, 0.7);
font-size: 0.875em;/* Approximation due to font substitution */
font-weight: 600;
line-height: 3.824;/* Approximation due to font substitution */
text-align: left;
text-decoration: none;
}


@media screen and (min-width: 1024px){
  /* some CSS here */
}
