/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap {
  width: 1200px;
}


#inner-content {
    width: 1200px;
}

#inner-footer {
    width: 1200px;
}

/***************
BUILDER 
****************/

.containit { 
margin-top: -160px;	
max-width:1200px;
padding-left: 10%;
padding-right:10%;
padding-top: 5%;}


/***************
Discover Milton
****************/


body.page-id-22 .containit { 
margin-top: -160px;	
max-width:1200px;
padding-left: 10%;
padding-right:10%;
padding-top: 1%;}


div.amenitiesmenu a {
font-family: Open Sans;
color:  rgba(99, 100, 102, 0.7);
font-size: 0.875em;/* Approximation due to font substitution */
font-weight: 600;
line-height: 3.824;/* Approximation due to font substitution */
text-align: left;
text-decoration: none;
}


/*********************
4 Square CTA BOX ABOVE FOOTER
**********************/

.cta-text-box-w-overlay-container {
	height: 400px;
	width: 556px;
}

.cta-text-box-w-overlay {
    padding: 21%;
}


/**********************
PROPERTIES RESULTS page
***********************/

.page-template-page-property-results-php .display-grid-view .property .property-image img {
      width: 503px;
    height: 332px; }


    .page-template-page-property-results-php .display-grid-view .property .property-details {
   
    width: 254px;
}