/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 768px;
}

/*********************
HEADER STYLES
*********************/

.header {}

	#logo {}

	.logoimg{
   display:block;
   width: 30%;
   margin: 0 auto;
  }

 .logomobile{
  display:none;
 }

/*********************
NAVIGATION STYLES
*********************/

.ea-number {
  display: block;
}

.nav {
	border: 0;
	ul {
		background:$black;
		margin-top:0;
	}
	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: $white;
				text-decoration: underline;
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			//border: 1px solid #ccc;
			//border-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					//border-bottom: 1px solid #ccc;
					color: #fff !important;
					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */


/**************
NAVIGATAUR MENU
**************/

#toggle, .toggle {display: none;}

#toggle:checked ~ .top-nav {border-top:none;}

.top-nav{
        z-index:2;
        line-height:40px;
         /* rules below are necessary to navigataur, integrate in your .nav class */
        opacity:1;
        height:auto;
        overflow:visible;

    li {
        float: left;
        position: relative;

        a {
            border: 0;
            height:42px;
            //@include transition(background 0.1s ease-in-out);
            padding: 2px 10px;

            /*
            you can use hover styles here even though this size
            has the possibility of being a mobile device.
            */
            &:hover, &:focus {
                background:#0f6748;
               
            color:#fff !important;
            text-decoration: none;
            }
        }

        &:first-child {}
        &:last-child {}

        /*
        plan your menus and drop-downs wisely.
        */
        ul.sub-menu,
        ul.children {
            margin-top: 0;
            position: absolute;
            overflow: hidden;
            visibility: hidden;
            z-index: 9001; //using an high z-index in case menu children pops over an image slider
            background:#0f6748;
            color:#fff;

            li {

                a {
                    padding-left: 10px;
                    border-right: 0;
                    display: block;
                    min-width: 250px;

                    &:hover,
                    &:focus {
                       background:#c6b985 ;color: #0f6748!important;}

                    &:link {}
                }

                &:first-child {}

                &:last-child {

                    a {
                        border-bottom: 0;
                    }
                }

                /*
                if you need to go deeper, go nuts
                just remember deeper menus suck
                for usability. k, bai.
                */
                ul {}
            }

            /* highlight sub-menu current page */
            li.current-menu-item,
            li.current_page_item,
            li.current-page-ancestor {
                a {}
            }
        }

        /* showing sub-menus */
        &:hover ul {
            top: auto;
            overflow: visible;
            visibility:visible;
            display: block;
        }

    } /* end .menu ul li */

    /* highlight current page */
    li.current-menu-item,
    li.current_page_item,
    li.current-page-ancestor {
        a {}
    }  /* end current highlighters */

} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	//margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */



/*********************
CTA BOX ABOVE FOOTER
**********************/

.cta-text-box-w-overlay-container {
	width: 344px;
    margin: 0 auto
}



/***************
BUILDER 
****************/

.containit { 
margin-top: -200px;	
max-width:1200px;
padding-left: 10%;
padding-right:10%;
padding-top: 5%;}

.containit2 { 
margin-top: -135px;	
max-width:1200px;
/*padding-left: 10%;
padding-right:10%;
padding-top: 5%;*/
padding: 0px;}
.containit3 { 
margin-top: -150px;	
max-width:1200px;
/*padding-left: 10%;
padding-right:10%;
padding-top: 5%;*/
padding: 0px !important;}


.inner-container-page {
padding-left: 10%;
padding-right:10%;
padding-top: 8%;
}



/***************
Discover Milton
****************/

.amenitiesmenu {
    max-width: 800px;
    position: relative;
    margin: 0 auto;
   
}




div.amenitiesmenu a {
font-family: Open Sans;
color:  rgba(99, 100, 102, 0.7);
font-size: 0.875em;/* Approximation due to font substitution */
font-weight: 600;
line-height: 3.824;/* Approximation due to font substitution */
text-align: left;
text-decoration: none;
}



/****************
PAGE CTA GREEN
****************/

.app-cta-green-bg{
background-color:  #036646;
/*max-width: 350px;
    float: right;*/
overflow: hidden;
}

.green-cta-text {font-family: Open Sans;
color:  #ffffff;
font-size: 0.875em;/* Approximation due to font substitution */
font-weight: 600;
line-height: 3.824;/* Approximation due to font substitution */
//text-align: right;
text-align: center;
margin-top: 0px !important;
padding-right: 5px;
//padding-left: 22px;
//padding-right: 30px;	
}

p.green-cta-text img {
width: 18px;
/*padding-right: 5px;*/	
}

/********************
STYLES - CONTENT
********************/

/*home page*/

.green-header-text {
font-family: Georgia, Times, 'Times New Roman', serif !important;
color:  #0f6748;
font-size: 2.4em;
font-weight: 400;
text-align: left;
line-height: 1.1;
margin: 0px;}

.green-header-text-center {
font-family: Georgia, Times, 'Times New Roman', serif !important;
color:  #0f6748;
font-size: 2.4em;
font-weight: 400;
text-align: center;
line-height: 1.1;
margin: 0px;}

.white-header-text {
font-family: Georgia, Times, 'Times New Roman', serif !important;
color:  #ffffff;
font-size: 2.4em;
font-weight: 400;
text-align: left;
line-height: 1.1;
margin: 0px;}

.white-header-text-center {
font-family: Georgia, Times, 'Times New Roman', serif !important;
color:  #ffffff;
font-size: 2.4em;
font-weight: 400;
text-align: center;
margin: 0px;}

.white-sub-header-text-center{
	font-family: Georgia;
color:  #ffffff;
font-size: 2.25em;
font-weight: 400;
line-height: 0.904;
text-align: center;}

.white-text-icons-home {
	font-family: Open Sans;
color: #ffffff;
font-size: 1.313em; /* Approximation due to font substitution */
font-weight: 300;
line-height: 1.55; /* Approximation due to font substitution */
text-align: center;
}

.grey-text  {
font-family: Open Sans !important;
color:  #646464;
font-size: 1.313em;
font-weight: 300;
line-height: 1.55;
text-align: left;
}


.grey-text-center  {
font-family: Open Sans !important;
color:  #646464;
font-size: 1.313em;
font-weight: 300;
line-height: 1.55;
text-align: center;
}

.white-text  {
font-family: Open Sans !important;
color:  #646464;
font-size: 1.313em;
font-weight: 300;
line-height: 1.55;
text-align: left;
}

/***************************
INTERNAL BUILDER PAGE STYLES
***************************/

.conatinpage {
//max-width:884px;
//padding-left:6%;
//margin: 0 auto;
}


/******************************************************************
						PROPERTY RESULTS
******************************************************************/
.page-template-page-property-results-php #main {
  padding: 133px 20px; }

.page-template-page-property-results-php h1 {
  width: 350px;
  text-align: center;
  margin: 0 auto;
  font-family: Georgia, serif;
  font-style: italic; }

.page-template-page-property-results-php .pagination a:hover, .page-template-page-property-results-php .pagination a:focus, .page-template-page-property-results-php .pagination span:hover, .page-template-page-property-results-php .pagination span:focus {
  background-color: none !important;
  color: #5c371d; }

.page-template-page-property-results-php .pagination {
  margin: 0px;
  text-align: right; }
  .page-template-page-property-results-php .pagination span {
    display: inline;
    padding: 0.3em;
    color: #5c371d; }
  .page-template-page-property-results-php .pagination .current {
    border: 1px solid #5c371d;
    color: #5c371d;
    font-weight: bold; }
  .page-template-page-property-results-php .pagination .disabled {
    display: none !important; }
  .page-template-page-property-results-php .pagination a {
    color: #5c371d;
    display: inline;
    padding: 0.3em; }

.page-template-page-property-results-php .style-selector {
  margin-top: 25px;
  padding: 10px 0;
  border-top: 1px solid #5c371d;
  border-bottom: 1px solid #5c371d; }
  .page-template-page-property-results-php .style-selector .list-view {
    padding-left: 20px;
    margin-top: 10px;
    background: url(../images/list-view.png) no-repeat 0 0;
    display: block;
    float: left; }
  .page-template-page-property-results-php .style-selector .grid-view {
    padding-left: 20px;
    margin-left: 10px;
    margin-top: 10px;
    background: url(../images/grid-view.png) no-repeat 0 0;
    display: block;
    float: left; }
  .page-template-page-property-results-php .style-selector .explore-button {
    height: 38px;
    display: block;
    float: right;
    padding: 0 10px;
    line-height: 40px;
    background-color: #849690;
    color: #f7f3ed;
    border: none;
    font-size: 14px; }

.page-template-page-property-results-php .results-info {
  margin-top: 20px;
  margin-bottom: 20px; }
  .page-template-page-property-results-php .results-info .leftside {
    width: 150px;
    float: left; }
  .page-template-page-property-results-php .results-info .rightside {
    width: 400px;
    float: right;
    text-align: right; }


.page-template-page-property-results-php .display-grid-view li {
  width: 50%;
  display: inline-block;
  float: none;
  max-height: 450px; }

.page-template-page-property-results-php .display-grid-view li:nth-child(odd) {
  float: left; }

.page-template-page-property-results-php .display-grid-view .property {
  font-family: Georgia, serif;
  width: 90%;
  padding-bottom: 20px;
  //border-bottom: 1px solid #5c371d;
  margin-bottom: 20px; }
  
.page-template-page-property-results-php .display-grid-view .property .address{
    width: 203px; 
}




  .page-template-page-property-results-php .display-grid-view .property .address a{
    font-family: Georgia !important;
    color:  #0f6748;
    font-size: 1.275em;
    font-weight: 400;
    text-align: left;
    line-height: 1;
    padding-right: 0 !important; 
}
  

  .page-template-page-property-results-php .display-grid-view .property .property-image {
   
    //float: left;
   // width: 190px; 
  }
   

    .page-template-page-property-results-php .display-grid-view .property .property-image img {
         width: 326px;
    height: 244px; }
  .page-template-page-property-results-php .display-grid-view .property .property-details {
   // width: 130px;
    height: 89px;
   // float: left;
    padding-left: 15px;

    position: relative;
    line-height: 1.6; 
    text-align: right;
    font-family: Open Sans;
color:  #636466;

font-weight: 300;

	}
    


    .page-template-page-property-results-php .display-grid-view .property .property-details .price {
      font-family: Georgia;
      color:  #0f6748;
      font-size: 1.375em;
      font-weight: 400;
      line-height: 1; 
  	  text-align: right;
  	  margin: 6px 0 !important;
  	}
    .page-template-page-property-results-php .display-grid-view .property .property-details .see-more {
      height: 30px;
      display: block;
      line-height: 30px;
      text-align: center;
      width: 100px;
      background-color: #849690;
      color: #f7f3ed;
      border: none;
      font-size: 14px;
      margin: 10px 0; }
    .page-template-page-property-results-php .display-grid-view .property .property-details .sotheby {
      font-size: 12px;
      line-height: 1.5;
      position: absolute;
      bottom: 0px;
      display: none; }
  .page-template-page-property-results-php .display-grid-view .property .sotheby2 {
    font-size: 12px;
    line-height: 1.5;
    font-style: italic;
    float: left;
    clear: left; }
  .page-template-page-property-results-php .display-grid-view .property .description {
    margin-top: 15px;
    font-size: 11px;
    display: none; }


    .maxheight{max-height:89px; } 


   .page-template-page-property-results-php .display-grid-view .property .propertyid{/* Inline Style */
font-family: Open Sans;
color:  #636466;
font-size: 0.875em;/* Approximation due to font substitution */
font-weight: 400;
line-height: 1.929;/* Approximation due to font substitution */
text-align: left;}



.footer-nav {text-align: left;}

.footer-title-text-left { text-align: left !important; }

.footer-links-menu {padding-left: 8%;}



/*******
LANDING PAGE
************/

.newsletter-submit{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0px !important;
    font-family: Arial !important;
    color: #FFF !important;
    font-size: 20px !important;
    background: #0f6748 !important;
    padding: 10px 20px 10px 20px !important;
    text-decoration: none !important;
    border: 0px !important;
    height: 88px;
}

