// Inner Page Top Padding Fix
.inner-page-fix {
	padding-top: 115px;
}


// *********** Contact form 7 validation + Edits *********** 
div.wpcf7-validation-errors {
	border-color: #dc5c07;
	background-color: #dc5c07;
	color: white;
}

span.wpcf7-not-valid-tip {
	font-weight: bold !important;
	color: #dc5c07 !important;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select, textarea, .field {
	margin-bottom: 5px;
	margin-top: 9px;
}


// *********** Property Detail Page *********** 
.lotdetail-information {
	font-family: Georgia;
	color: #0f6748;
	font-size: 1.7em;
}