/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	//font-family: $lato;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
-webkit-animation: bugfix infinite 1s;
font-family: 'Open Sans';

 }
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} 

}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	text-decoration: none;
	font-family: Open Sans;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	color: #0f6748;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
	font-family: Georgia;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
	font-family: Georgia;
}

h3, .h3 {
	font-size: 1.125em;
	font-family: Georgia;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
	font-family: Georgia;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: Georgia;
}

/*********************
HEADER STYLES
*********************/
.header {
    position: fixed;
    right: 0;
    left: 0;
    margin: 0;
    min-height: 18px;
   padding: 0px;
    background-color:rgba(0, 0, 0, 0.680392);
    font-family: Open Sans;
    font-weight: 300;
    z-index: 9999;
}




.header.scrolling {
    background-color: $white;
    color:#000;
    -webkit-box-shadow:rgba(97, 97, 97, 0.992157) 0px 0px 8px 0px;
-moz-box-shadow:rgba(97, 97, 97, 0.992157) 0px 0px 8px 0px;
box-shadow:rgba(97, 97, 97, 0.992157) 0px 0px 8px 0px;
 z-index: 9999;
}
	





	#logo {
		margin: 0.75em 0 0 0;

		a {
			color: $white;
		}
		
	}


		.logoimg{
   display:none;
   
   
  }

 .logomobile{
  display:block;
  margin: 0 auto;
  position: relative;
  width:38px;
 }

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
.ea-number {
	float: right;
	margin-right: 10px;
	color: white;
	display: none;
	font-weight: bold;
}
.scrolling .ea-number {
	color: black;
}

.toplink .toplinkcolor { color:#000 !important; }
.toplink {color:#fff !important;}

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			//color: $white;
			text-decoration: none;
			padding: 0.75em;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}



		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/

		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}



		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 0;
}

		.hentry {
			background-color: $white;
			border-radius: 3px;
			margin-bottom: 1.5em;
			//border: 1px solid $border-color;

			header {
				//border-bottom: 1px solid $light-gray;
				padding: 1.5em;
			}

			footer {
				padding: 1.5em;
				//border-top: 1px solid $light-gray;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			padding: 0 1.5em 0;

			p {
				//margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}



/***********************
MOBILE MENU TOGGLE STYLE
***********************/

#toggle {display: none;}

.toggle {
        z-index: 3;
        display: block;
        position: relative;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
        float: right;
        font-size: 2.0em;
        font-weight: 300;
        color: #fff;

        &:after {
            content: "\f142";
            display: block;
            padding: 0px 20px;
            //background: $blue;
            text-align: center;
              font-family: FontAwesome;
            //color: $white;
            font-weight: 300;
            right:0;
            bottom:0;
            position:absolute;
            @include transition(background 0.5s linear);
        }

        &:hover:after {
            //background: darken($blue,20%);
        }
    }

#toggle:checked + .toggle:after {content: "\f141";}


.toggle.scrolling {
    background-color: $white;
    color:#0f6748;
    -webkit-box-shadow:rgba(97, 97, 97, 0.992157) 0px 0px 8px 0px;
-moz-box-shadow:rgba(97, 97, 97, 0.992157) 0px 0px 8px 0px;
box-shadow:rgba(97, 97, 97, 0.992157) 0px 0px 8px 0px;

}

#toggle:checked ~ .top-nav {
    display: block;
    opacity: 1;
    @include transition(all 0.5s ease-in-out);
    max-height:400px; //if some menu items are cut out, increase this value
    //border-top: 1px solid $blue;
    z-index: 9999;
} 

.top-nav{
    margin:0;
    @include transition(all 0.9s ease-in-out);
     /* rules below are necessary to navigataur, integrate in your .nav class */
    opacity: 0;
    max-height:0px;
    overflow-y:scroll;



    li {

        a {
            display: block;
            text-decoration: none;
            padding: 5px 10px;
           // border-bottom: 1px solid $blue;
           // color: $blue;

            /*
            remember this is for mobile ONLY, so there's no need
            to even declare hover styles here, you can do it in
            the style.scss file where it's relevant. We want to
            keep this file as small as possible!
            */
            &:hover, &:focus {
                background-color: $gray;
                color:#000 !important;
            }
        }

        &:first-child {}

        &:last-child {}

        /*
        so you really have to rethink your dropdowns for mobile.
        you don't want to have it expand too much because the
        screen is so small. How you manage your menu should
        depend on the project. Here's some great info on it:
        http://www.alistapart.com/articles/organizing-mobile/
        */
        ul.sub-menu,
        ul.children {
            margin:0;
            li {

                a {
                    padding-left: 30px;

                    &:hover,
                    &:focus {

                    }

                    &:link {}

                }

                &:first-child {}

                &:last-child {}

            }

        }

    } /* end .menu li */

    /* highlight current page */
    li.current-menu-item,
    li.current_page_item,
    li.current-page-ancestor {

        a {}

    }  /* end current highlighters */
}	

/*.nav .sub-menu {
  display:none !important;
}
*/



/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	//background-color: $blue;
      	//color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}


a.social-sharing-button {
	margin-right: 18px;
}
/*********************
FOOTER STYLES
*********************/
.green-footer-block{background-color:  #0f6748;
padding: 5% 0 5% 0;
}


#bottom-footer {background-color:  #c7b782;
	color: #0f6748;
	font-size: 0.813em;/* Approximation due to font substitution */
font-weight: 300;
line-height: 1.154;/* Approximation due to font substitution */
text-align: center;}

.footer-title-text-left { text-align: center !important; }

.footer-nav {text-align: center;}


.footer {
	clear: both;
	

}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}



/**********************
OFF CANVAS MENU
**********************/





/********************
HEADER STYLE NAV BAR
********************/

.top-nav{   
    padding-top: 3%;}
#inner-header {
	    max-height: 100px;
}


/********************
INNERCONTENT
********************/


#inner-content {
    //top: -100px !important;
    position: relative;
}





/********************
STYLES - CONTENT
********************/

/*home page*/

.green-header-text {
font-family: Georgia, Times, 'Times New Roman', serif !important;
color:  #0f6748;
font-size: 2.125em;
font-weight: 400;
text-align: left;
line-height: 1.1;
margin: 0px;}

.green-header-text-sm {
font-family: Georgia, Times, 'Times New Roman', serif !important;
color:  #0f6748;
font-size: 1.825em;
font-weight: 400;
text-align: left;
line-height: 1.1;
margin: 0px;}

.green-header-text-sm-center {
font-family: Georgia, Times, 'Times New Roman', serif !important;
color:  #0f6748;
font-size: 1.825em;
font-weight: 400;
text-align: center;
line-height: 1.1;
margin: 0px;}

h3.green-header-text-sm a{
font-family: Georgia, Times, 'Times New Roman', serif !important;
}

.green-header-text-center {
font-family: Georgia, Times, 'Times New Roman', serif !important;
color:  #0f6748;
font-size: 2.125em;
font-weight: 400;
text-align: center;
line-height: 1.1;
margin: 0px;}

.white-header-text {
font-family: Georgia, Times, 'Times New Roman', serif !important;
color:  #ffffff;
font-size: 2.025em;
font-weight: 400;
text-align: left;
line-height: 1.1;
margin: 0px;}




.white-header-text-center {
    font-family: Georgia, Times, 'Times New Roman', serif !important;
    color: #FFF;
    font-size: 2.925em;
    font-weight: 400;
    text-align: center;
    line-height: 1;
    margin: 0px;
}

.404-white-text {font-family: Open Sans;
color:  #ffffff;
font-size: 2.188em;
line-height: 1.371;
text-align: center;
}



.white-sub-header-text-center{
	font-family: Georgia;
color:  #ffffff;
font-size: 2.25em;
font-weight: 400;
line-height: 0.904;
text-align: center;}

.white-text-icons-home {
	font-family: Open Sans;
color: #ffffff;
font-size: 1.313em; /* Approximation due to font substitution */
font-weight: 300;
line-height: 1.55; /* Approximation due to font substitution */
text-align: center;
}

.grey-text  {
font-family: Open Sans !important;
color:  #646464;
font-size: 1.113em;
font-weight: 300;
line-height: 1.55;
text-align: left;
}

.bulllist  {
    list-style: disc;
    padding-left: 4%;
    font-family: Open Sans !important;
color:  #646464;
font-size: 1.113em;
font-weight: 300;
line-height: 1.55;
text-align: left;
   
   }


.error404 a.btn {
  font-family: Georgia !important;
  color: #ffffff !important;
  font-size: 1.09em !important;
  background: transparent !important;
  padding: 12px 32px 12px 32px !important;
  border: solid #ffffff 2px !important;
  text-decoration: none !important;
  text-align: center !important;
}

.error404 a.btn:hover {
  background: #c7b782 !important;
  text-decoration: none !important;
}


.grey-text-center  {
font-family: Open Sans !important;
color:  #646464;
font-size: 1.313em;
font-weight: 300;
line-height: 1.55;
text-align: center;
}

.white-text  {
font-family: Open Sans !important;
color:  #646464;
font-size: 1.313em;
font-weight: 300;
line-height: 1.55;
text-align: left;
}

.home-bottom-cta {

height:100%;
width:100%;
margin:8px;

}


.home-bottom-cta-title  {

text-align: center !important;
}

.home-bottom-cta-text  {

text-align: center !important;

}

.home-bottom-cta-title a {
font-family: Georgia;
color:  #ffffff;
font-size: 1.563em;
font-weight: 400;
text-align: center !important;
line-height: 1.1;
text-decoration: none;}

.home-bottom-cta-text a {
font-family: Open Sans;
color:  #ffffff;
font-size: 0.875em;/* Approximation due to font substitution */
font-weight: 300;
line-height: 1.643;/* Approximation due to font substitution */
text-align: center !important;
text-decoration: none;
}

.home-bottom-cta-title a:hover {
font-family: Georgia;
color:  #ffffff;
font-size: 1.563em;
font-weight: 400;
text-align: center !important;
line-height: 1.1;
text-decoration: none;}

.home-bottom-cta-text a:hover {
font-family: Open Sans;
color:  #ffffff;
font-size: 0.875em;/* Approximation due to font substitution */
font-weight: 300;
line-height: 1.643;/* Approximation due to font substitution */
text-align: center !important;
text-decoration: none;
}




.home-bottom-cta-bg {
	background-color:  rgba(0, 0, 0, 0.6);
	border-top: solid;
	border-width: 4px;
	border-color: #c7b782;
	padding: 5% 8% 5% 8%;
	max-width: 400px;
max-height: 275px;
position: relative;
    margin: 0 auto;
}


.grey-header-text-sm{font-family: Georgia;
color:  #636466;
font-size: 1.25em;
font-style: italic;
text-align: center;}


.cta-text-box-w-overlay {padding:17%; }

body.home .hentry footer {
    padding: 0;
}


body.home .hentry {
    background-color: #fff;
    border-radius: 0px;
    margin-bottom: 0;
}

body.home .entry-content img {
    margin:0;
    max-width: 100%;
    height: auto;
}

/**************************
FOOTER SOCIAL MEDIA BUTTONS
***************************/


.social-icons {max-width: 141px;}

.facebook2 {
  background: url("/wp-content/themes/manor/images/facebook.png") no-repeat scroll 0 0 transparent;
  float: left;
  height: 33px;
  //margin-left: 0px;
  width: 33px; }
  

.twitter2 {
  background: url("/wp-content/themes/manor/images/twitter.png") no-repeat scroll 0 0 transparent;
  float: left;
  height: 33px;
  //margin-left: 10px;
  width: 33px; }
  
.google2 {
  background: url("/wp-content/themes/manor/images/google.png") no-repeat scroll 0 0 transparent;
  float: left;
  height: 33px;
  //margin-left: 5px;
  width: 33px; }
  
.foursquare2 {
  background: url("/wp-content/themes/manor/images/foursquare.png") no-repeat scroll 0 0 transparent;
  float: left;
  height: 33px;
  //margin-left: 10px;
  width: 33px; }
  
  .block {display: block;
  	float: none;
    padding-bottom: 1.8em;}

      .block2 {display: block;
  	float: none;
    }

.footer-title-text {
	font-family: Georgia;
color:  #ffffff;
font-size: 1.563em;
font-weight: 400;
text-align: center;
}

.footer-title-text-left {
	font-family: Georgia;
color:  #ffffff;
font-size: 1.563em;
font-weight: 400;
text-align: left;
display:block;
}

.alignc {
	position: relative;
	margin: 0 auto;
	text-align: center;
}

.footer-url {
	text-decoration: none;
	font-family: Open Sans;
color:  #c7b782 !important;
font-size: 0.875em;/* Approximation due to font substitution */
font-weight: 400;
line-height: 1.643;/* Approximation due to font substitution */

}

.footer-links-menu ul li a{
    color: #fff !important;
    text-decoration: none;
       
}

.footerlinks-sub{
	font-family: Open Sans;
color:  #ffffff;
font-weight: 300;
font-size: 0.875em;/* Approximation due to font substitution */
font-style: italic;
line-height: 1.571;/* Approximation due to font substitution */
text-align: left;
padding-left:8px;
}


.footer-links-menu {font-family: Open Sans;
color:  #ffffff;
font-size: 1em;/* Approximation due to font substitution */
font-weight: 300;
line-height: 2.143;/* Approximation due to font substitution */
text-align: left;
}



.footer-links-menu ul {
    margin: 0.5em 0;
}

.rightmenucol{
width: 150px;

}



/********************
INTERNAL PAGE STYLES
*********************/

.containit { 
margin-top: 0px;	
max-width:1200px;
padding-left: 10%;
padding-right:10%;
padding-top: 5%;}

/*.containit2 { 
margin-top: 0px;	
max-width:1200px;
/*padding-left: 10%;
padding-right:10%;
padding-top: 5%;}*/

/********************
BUILDER LANDING PAGE
*********************/




body.page-id-20 .hentry footer {
    padding: 0;
}

body.page-id-20 .hentry {
margin-bottom: 0 !important;}


body.page-id-26 .hentry footer {
    padding: 0;
}

body.page-id-26 .hentry {
margin-bottom: 0 !important;}



body.page-id-25 .hentry footer {
    padding: 0;
}

body.page-id-25 .hentry {
margin-bottom: 0 !important;}


body.page-id-24 .hentry footer {
    padding: 0;
}

body.page-id-24 .hentry {
margin-bottom: 0 !important;}


body.page-id-263 .hentry footer {
    padding: 0;
}

body.page-id-263 .hentry {
margin-bottom: 0 !important;}

body.page-id-263 div.vc_row .wpb_row .vc_row-fluid .spring-board-container .vc_custom_1443197011586  {
margin-bottom: 0 !important;
}


body.page-id-18 .hentry footer {
    padding: 0;
}

body.page-id-18 .hentry {
margin-bottom: 0 !important;}


body.page-id-1012 .hentry footer {
    padding: 0;
}

body.page-id-1012 .hentry {
margin-bottom: 0 !important;}

body.page-id-2597 .hentry footer {
    padding: 0;
}

body.page-id-2597 .hentry {
margin-bottom: 0 !important;}

/********************
CONTACT PAGE
*********************/
/*body.page-id-32 .hentry footer {
    padding: 0;
}

body.page-id-32 .hentry {
margin-bottom: 0 !important;}
*/

.formboxinput{

	background-color: #FFF !important;
	z-index: 9999;
	padding: 0px;
}


.formboxmessage{
	width:100% !important;
	max-width: 800px !important;
	background-color: #FFF !important;
	height: 200px;
}

.formboxsubmit{
background-color: #0f6748;
    color: #FFF;
	    font-size: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 25px;
    display: block;
    width: 60%;
    text-align: center;
    border: 0px !important;
    margin: 0 auto;
}


/********************************* 
DISCOVER MILTON - PREMIER BUILDERS
*********************************/


/*body.page-id-22 .containit { 
margin-top: 0px;	
max-width:1200px;
padding-left: 10%;
padding-right:10%;
padding-top: 2%;}*/




body.page-id-22 .hentry footer {
    padding: 0;
}

body.page-id-22 .hentry {
margin-bottom: 0 !important;}



.amenitiesmenu {
    max-width: 800px;
    position: relative;
    margin: 0 auto;
}



div.amenitiesmenu a {
font-family: Open Sans;
color:  rgba(99, 100, 102, 0.7);
font-size: 0.875em;/* Approximation due to font substitution */
font-weight: 600;
line-height: 3.824;/* Approximation due to font substitution */
text-align: left;
text-decoration: none;
}


div.premierbuildermenu a {
font-family: Open Sans;
color:  rgba(99, 100, 102, 0.7);
font-size: 0.775em;/* Approximation due to font substitution */
font-weight: 600;
line-height: 3.824;/* Approximation due to font substitution */
text-align: left;
text-decoration: none;
}


/***************
COUNTRY CLUB PAGE
****************/


body.page-id-26 .entry-content img {
    margin:0;
    max-width: 100%;
    height: auto;
}


body.page-id-26 .hentry footer {
    padding: 0;
}

body.page-id-22 .entry-content img {
margin-bottom: 0 !important;}


/****************
PAGE CTA GREEN
****************/

.app-cta-green-bg{
background-color:  #036646;
/*max-width: 350px;
    float: right;*/
overflow: hidden;
    text-align: center;
   
}

.green-cta-text {font-family: Open Sans;
color:  #ffffff;
font-size: 1.1em;/* Approximation due to font substitution */
font-weight: 600;
line-height: 2.824;/* Approximation due to font substitution */
//text-align: center;
margin-bottom: 0px !important;
/*padding-right: 5px;
//padding-left: 22px;*/	
    margin-top: 0px;
}

p.green-cta-text img {
//width: 18px;
/*padding-right: 5px;*/	
display:none;
padding-left: 5px;
}



.green-cta-text a {font-family: Open Sans;
color:  #ffffff;
font-size: 0.599em;/* Approximation due to font substitution */
font-weight: 600;
line-height: 3.824;/* Approximation due to font substitution */
//text-align: right;
margin-top: 0px !important;
//padding-right: 5px;
//padding-left: 22px;
text-decoration: none !important;	
}

.green-cta-text a:hover {font-family: Open Sans;
color:  #ffffff;
}


/*****************
BUILDER CTA BUTTON
*****************/

.builder-cta-gold-bg{
background-color:  #c6b682;
/*max-width: 350px;
    float: right;*/
overflow: hidden;
    text-align: center;
}

/************************
VISIT BUILDER SITE BUTTON
*************************/


.visitsite {
background-color:  #0f6748;
color:#fff;
text-align: center;
display: block;
}


/*******************
GALLERY
*******************/

.-skin-default .-item .title {
   
    display: none !important;
}

.-skin-default .-items .-item .-links .-onlyonelink {
    display: none;
}

.-skin-default.-skin-default-round .-items .-item .itembox {
   
   border-top-left-radius: 0% !important;  
   border-top-right-radius: 0% !important;
   border-bottom-left-radius: 0% !important;
   border-bottom-right-radius: 0% !important;
}



.-skin-default .-items .-item .itembox {
    width: 100% !important;
    border: 5px solid #FFF;
    box-shadow: 0px 0px 0px #888;
    background: #FFF;
    position: relative;
    margin: 0 auto;
}

.-skin-default .-filters .-filter {
   
    padding: 3px 6% !important;
    margin: 9px !important;
    border: 0px solid #ccc !important;
}

a.-filter { text-align: center !important; }


/******************************************************************
						PROPERTY RESULTS
******************************************************************/
.page-template-page-property-results-php #main {
  padding: 100px 20px; }

.page-template-page-property-results-php h1 {
  width: 350px;
  text-align: center;
  margin: 0 auto;
  font-family: Georgia, serif;
  font-style: italic; }

.page-template-page-property-results-php .pagination a:hover, .page-template-page-property-results-php .pagination a:focus, .page-template-page-property-results-php .pagination span:hover, .page-template-page-property-results-php .pagination span:focus {
  background-color: none !important;
  color: #5c371d; }

.page-template-page-property-results-php .pagination {
  margin: 0px;
  text-align: right; }
  .page-template-page-property-results-php .pagination span {
    display: inline;
    padding: 0.3em;
    color: #5c371d; }
  .page-template-page-property-results-php .pagination .current {
    border: 1px solid #5c371d;
    color: #5c371d;
    font-weight: bold; }
  .page-template-page-property-results-php .pagination .disabled {
    display: none !important; }
  .page-template-page-property-results-php .pagination a {
    color: #5c371d;
    display: inline;
    padding: 0.3em; }

.page-template-page-property-results-php .style-selector {
  margin-top: 25px;
  padding: 10px 0;
  border-top: 1px solid #5c371d;
  border-bottom: 1px solid #5c371d; }
  .page-template-page-property-results-php .style-selector .list-view {
    padding-left: 20px;
    margin-top: 10px;
    background: url(../images/list-view.png) no-repeat 0 0;
    display: block;
    float: left; }
  .page-template-page-property-results-php .style-selector .grid-view {
    padding-left: 20px;
    margin-left: 10px;
    margin-top: 10px;
    background: url(../images/grid-view.png) no-repeat 0 0;
    display: block;
    float: left; }
  .page-template-page-property-results-php .style-selector .explore-button {
    height: 38px;
    display: block;
    float: right;
    padding: 0 10px;
    line-height: 40px;
    background-color: #849690;
    color: #f7f3ed;
    border: none;
    font-size: 14px; }

.page-template-page-property-results-php .results-info {
  margin-top: 20px;
  margin-bottom: 20px; }
  .page-template-page-property-results-php .results-info .leftside {
    width: 150px;
    float: left; }
  .page-template-page-property-results-php .results-info .rightside {
    width: 400px;
    float: right;
    text-align: right; }


.page-template-page-property-results-php .display-grid-view li {
  width: 100%;
  display: inline-block;
  float: none;
  height: auto; }

.page-template-page-property-results-php .display-grid-view li:nth-child(odd) {
  float: none; }

.page-template-page-property-results-php .display-grid-view .property {
  font-family: Georgia, serif;
  width: 100%;
  padding-bottom: 20px;
  //border-bottom: 1px solid #5c371d;
  margin-bottom: 20px; }

  .page-template-page-property-results-php .display-grid-view .property .address{
    width: 193px; 
}
  
  .page-template-page-property-results-php .display-grid-view .property .address a{
    font-family: Georgia !important;
    color:  #0f6748;
    font-size: 0.9em;
    font-weight: 400;
    text-align: left;
    line-height: 1;
    padding-right: 0 !important; 
}
  

  .page-template-page-property-results-php .display-grid-view .property .property-image {
   
    //float: left;
   // width: 190px; 
  }
   

    .page-template-page-property-results-php .display-grid-view .property .property-image img {
      width: 100%;
    height: auto; 
padding-bottom: 8px;}
  .page-template-page-property-results-php .display-grid-view .property .property-details {
   // width: 130px;
    height: 89px;
   // float: left;
    padding-left: 15px;
float: right;
    position: relative;
    line-height: 1.6; 
    text-align: right;
    font-family: Open Sans;
color:  #636466;

font-weight: 300;
    width: 164px;
	}
    


     .page-template-page-property-results-php .display-grid-view .property .property-details .detail-info {
		 font-size: 0.77em;/* Approximation due to font substitution */
	 }
    


    .page-template-page-property-results-php .display-grid-view .property .property-details .price {
      font-family: Georgia;
      color:  #0f6748;
      font-size: 1.175em;
      font-weight: 400;
      line-height: 1; 
  	  text-align: right;
  	  margin: 6px 0 !important;
  	}
    .page-template-page-property-results-php .display-grid-view .property .property-details .see-more {
      height: 30px;
      display: block;
      line-height: 30px;
      text-align: center;
      width: 100px;
      background-color: #849690;
      color: #f7f3ed;
      border: none;
      font-size: 14px;
      margin: 10px 0; }
    .page-template-page-property-results-php .display-grid-view .property .property-details .sotheby {
      font-size: 12px;
      line-height: 1.5;
      position: absolute;
      bottom: 0px;
      display: none; }
  .page-template-page-property-results-php .display-grid-view .property .sotheby2 {
    font-size: 12px;
    line-height: 1.5;
    font-style: italic;
    float: left;
    clear: left; }
  .page-template-page-property-results-php .display-grid-view .property .description {
    margin-top: 15px;
    font-size: 11px;
    display: none; }


    .maxheight{max-height:89px; } 


   .page-template-page-property-results-php .display-grid-view .property .propertyid{/* Inline Style */
font-family: Open Sans;
color:  #636466;
font-size: 0.875em;/* Approximation due to font substitution */
font-weight: 400;
line-height: 1.929;/* Approximation due to font substitution */
text-align: left;}










/******************************************************************
						Property Details
******************************************************************/
.page-template-page-property-details-php #inner-content {
  padding-top: 100px; }


.page-template-page-property-details-php .address h1 {
  font-family: Georgia;
color:  #0f6748;
font-size: 2.5em;
font-weight: 400;
text-align: left;
  margin: 30px 0 0 0; 
max-width: 500px;}

.page-template-page-property-details-php .top-property-menu {
  margin-top: 1px;
  padding: 20px 0;
  //border-top: 1px solid #636466;
  border-bottom: 1px solid #5c371d; }
  .page-template-page-property-details-php .top-property-menu .left-side {
    //width: 200px;
    float: left; }
  .page-template-page-property-details-php .top-property-menu .right-side {
    width: 200px;
    float: right;
    text-align: right; }
  .page-template-page-property-details-php .top-property-menu #link-photos {
    padding-left: 20px;
    background: url(../images/icon-photos.png) no-repeat 0 0;
    display: inline-block;
    height: 18px; }
  .page-template-page-property-details-php .top-property-menu #link-videos {
    padding-left: 30px;
    margin-left: 10px;
    background: url(../images/icon-video.png) no-repeat 0 0;
    display: inline-block;
    height: 18px; }
  .page-template-page-property-details-php .top-property-menu #link-return {
    padding-left: 20px;
   // background: url(../images/icon-back.png) no-repeat 0 0;
    display: inline-block;
    height: 18px;
    color:  #c7b782; }

.page-template-page-property-details-php .property-left-side {
  //float: left;
  font-size: 14px;
  //margin-top: 20px;
  margin-bottom: 20px; 
 // max-width: 814px;

.details {
	font-size: 1.2em;
} 

  }
  .page-template-page-property-details-php .property-left-side #property-slideshow {
    padding-bottom: 0px;
    margin-bottom: 20px; }
  .page-template-page-property-details-php .property-left-side .section-title {
    font-size: 16px;
    font-style: italic;
    margin-top: 15px; }
  .page-template-page-property-details-php .property-left-side .price {
    font-size: 19px;
    font-style: italic;
    margin: 10px 0; }
  .page-template-page-property-details-php .property-left-side .rooms {
    font-size: 19px;
    font-style: italic;
    margin: 10px 0; }
  .page-template-page-property-details-php .property-left-side .features-left {
    float: left;
    width: 130px;
    margin-bottom: 5px; }
  .page-template-page-property-details-php .property-left-side .features-right {
    float: right;
    width: 420px;
    margin-bottom: 5px; }

.page-template-page-property-details-php .property-right-side {
 /* width: 260px;
  margin: 10px auto;*/
  width: 338px; }
  .page-template-page-property-details-php .property-right-side .top-info {
    text-align: left;
    font-size: 16px; 
    padding-bottom: 25px;}
    .page-template-page-property-details-php .property-right-side .top-info #agent {
      margin: 11px auto;
      width: 154px;
      height: auto; }

      .page-template-page-property-details-php .property-right-side .top-info .agentname {
      font-family: Open Sans;
color:  #636466;
font-size: 1.5em;/* Approximation due to font substitution */
font-weight: 300;
line-height: 0.856;/* Approximation due to font substitution */
text-align: left; 

}

     .page-template-page-property-details-php .property-right-side .top-info .address {
      font-family: Open Sans;
color:  #636466;
font-size: 0.899em;/* Approximation due to font substitution */
font-weight: 300;
line-height: 1.467;/* Approximation due to font substitution */
text-align: left; 

}


    .page-template-page-property-details-php .property-right-side .top-info .phones {
      font-family: Open Sans;
color:  #636466;
font-size:0.975em;/* Approximation due to font substitution */
font-weight: 300;
line-height: 1.384;/* Approximation due to font substitution */
text-align: left;
    margin-top: 9px !important;
    margin-bottom: 9px !important; }

  .page-template-page-property-details-php .property-right-side .top-info .afhagent {
      font-family: Open Sans;
color:  #636466;
font-size: 0.613em;/* Approximation due to font substitution */
font-weight: 300;
line-height: 1.58;/* Approximation due to font substitution */
text-align: left; }


  .page-template-page-property-details-php .property-right-side .info-links {
    padding: 48px 0 0px 0;
    border-top: solid 1px #5c371d;
    border-bottom: solid 1px #5c371d;
    margin-top: 20px; 
	background-color:  #818181;}
    .page-template-page-property-details-php .property-right-side .info-links .info-link-1 {
      width: 78px;
      height: 54px;
      float: left;
      display: block;
      background: url(../images/share.png) no-repeat 0 0;
      text-indent: -99999px;
      margin-right: 20px;
      margin-bottom: 30px;
      margin-left: 10px; }
    .page-template-page-property-details-php .property-right-side .info-links .st_sharethis {
      width: 78px;
      height: 54px;
      float: left;
      display: block;
      background: url(../images/share.png) no-repeat 0 0;
      text-indent: -99999px;
      margin-right: 20px;
      margin-bottom: 30px;
     // margin-left: 10px;
      cursor: pointer; }
    .page-template-page-property-details-php .property-right-side .info-links .stButton .sharethis {
      background: none !important; }
    .page-template-page-property-details-php .property-right-side .info-links .info-link-2 {
      width: 101px;
      height: 54px;
      float: left;
      display: block;
      background: url(../images/schools.png) no-repeat 0 0;
      text-indent: -99999px;
      margin-right: 21px;
      margin-bottom: 30px; 
      margin-left: 12px;}
    .page-template-page-property-details-php .property-right-side .info-links .info-link-3 {
      width: 81px;
      height: 54px;
      float: left;
      display: block;
      background: url(../images/print.png) no-repeat 0 0;
      text-indent: -99999px;
      margin-bottom: 30px; }
    .page-template-page-property-details-php .property-right-side .info-links .info-link-4 {
      width: 104px;
      height: 65px;
      float: left;
      display: block;
      background: url(../images/contacts.png) no-repeat 0 0;
      text-indent: -99999px;
      margin-right: 20px;
      margin-left: 10px; }
    .page-template-page-property-details-php .property-right-side .info-links .info-link-5 {
      width: 170px;
      height: 65px;
      float: left;
      display: block;
      background: url(../images/mortgageclaculator.png) no-repeat 0 0;
      text-indent: -99999px;
      margin-right: 21px; }
    .page-template-page-property-details-php .property-right-side .info-links .info-link-6 {
      width: 81px;
      height: 65px;
      float: left;
      display: block;
      background: url(../images/info-link-6.png) no-repeat 0 0;
      text-indent: -99999px; }
  .page-template-page-property-details-php .property-right-side .request-info {
    padding-top: 20px;
    padding-bottom: 13px;
    border-bottom: solid 1px #5c371d;
    font-size: 16px;
    text-align: center; }
    .page-template-page-property-details-php .property-right-side .request-info input[type="text"], .page-template-page-property-details-php .property-right-side .request-info input[type="password"], .page-template-page-property-details-php .property-right-side .request-info input[type="datetime"], .page-template-page-property-details-php .property-right-side .request-info input[type="datetime-local"], .page-template-page-property-details-php .property-right-side .request-info input[type="date"], .page-template-page-property-details-php .property-right-side .request-info input[type="month"], .page-template-page-property-details-php .property-right-side .request-info input[type="time"], .page-template-page-property-details-php .property-right-side .request-info input[type="week"], .page-template-page-property-details-php .property-right-side .request-info input[type="number"], .page-template-page-property-details-php .property-right-side .request-info input[type="email"], .page-template-page-property-details-php .property-right-side .request-info input[type="url"], .page-template-page-property-details-php .property-right-side .request-info input[type="search"], .page-template-page-property-details-php .property-right-side .request-info input[type="tel"], .page-template-page-property-details-php .property-right-side .request-info input[type="color"], .page-template-page-property-details-php .property-right-side .request-info select, .page-template-page-property-details-php .property-right-side .request-info textarea, .page-template-page-property-details-php .property-right-side .request-info .field {
      height: 49px;
      background-color: #FFF;
    border:2px inset rgba(128, 128, 128, 0.4);
padding:13px 0px 14px 21px;
}
    .page-template-page-property-details-php .property-right-side .request-info textarea {
      min-height: 75px;
      height: 75px;
      background-color: #FFF;
   border:2px inset rgba(128, 128, 128, 0.4);
   padding:13px 0px 14px 21px;
 }
    .page-template-page-property-details-php .property-right-side .request-info .gform_wrapper .gform_footer {
      clear: both;
      margin: 0;
      padding: 0; }
    .page-template-page-property-details-php .property-right-side .request-info .gform_wrapper .gform_footer input[type="image"] {
      width: 170px;
      margin: 0 auto;
      display: block; }

/****************************************************************
					PROPERTY PRINT DETAILS
*****************************************************************/
body.page-template-page-property-print-php {
  background-image: none;
  background-color: white; }
  
  
  
 body.page-template-page-property-print-php  .price {
  font-size: 19px;
  font-style: italic;
  margin: 10px 0; }
  body.page-template-page-property-print-php #main {
    background-color: white !important; }
  body.page-template-page-property-print-php #content {
    width: 1190px;
    margin: 0 auto 20px auto; }
  body.page-template-page-property-print-php p {
    margin: 0; }

.print-showing-today {
  font-size: 26px; }

.top-info {
  text-align: center;
  font-size: 16px;
  margin-top: 30px; }
  .top-info #agent {
    margin: 0 auto;
    width: 156px;
    height: 219px; }
  .top-info .phones {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 19px; }

.section-title {
  font-size: 16px;
  font-style: italic;
  margin-top: 15px; }



.rooms {
  font-size: 19px;
  font-style: italic;
  margin: 10px 0; }

.features-left {
  float: left;
  width: 130px;
  margin-bottom: 5px; }

.features-right {
  float: right;
  width: 420px;
  margin-bottom: 5px; }

.printdetails #inner {
  border: none !important; }

.printdetails #property-left {
  width: 100% !important;
  padding-left: 7px; }
  .printdetails #property-left h2 {
    margin: 15px 0 0 0 !important;
    font-size: 28px !important; }
  .printdetails #property-left h3 {
    margin: 0 !important; }
  .printdetails #property-left .blue-text {
    font-size: 20px !important; }
  .printdetails #property-left .grey-text {
    font-size: 20px !important; }
  .printdetails #property-left .description {
    font-size: 18px !important;
    padding-bottom: 7px !important;
    margin-top: 10px !important;
    width: 1100px !important; }

.printdetails #property-right {
  float: left !important;
  width: 280px !important;
  padding-left: 0px !important;
  margin-right: 40px !important;
  margin-top: 0px !important;
  font-size: 20px; }

.printdetails #property-details #property-right .property-contact {
  border: none !important;
  margin-top: 30px !important;
  padding-top: 0 !important;
  margin-left: 50px; }

.printdetails .mls-disclaimer {
  margin: 0 !important; }

.printdetails .print-showing-today {
  text-align: center;
  color: #5c371d;
  font-size: 40px;
  margin-top: 30px; }
  
  
/******************************
Property Details 
*******************************/
 #gform_submit_button_2 {
	    background-color: #0f6748;
    color: #FFF;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-right: 25px;
    display: block;
    width: 100%;
    text-align: center;
    border: 0px !important;
    margin: 0 auto;

}


  
 /******************************************************************
						EXPORE MAP
******************************************************************/

body.page-template-page-explore-map {
	#content {
		padding-top: 115px;
	}
}


/*******************************
BLOG PAGE STYLE 
********************************/

.blog #inner-content {

padding-top: 115px;

}

.blog img.featured-image-post {
	width: 100%;
	display: block;
	height: auto !important;
	
}
.single-post #inner-content {

padding-top: 115px;

}


.archive #inner-content {

padding-top: 115px;

}


.widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em; 
	font-family: Open Sans;
	//text-transform: uppercase;
	color:  #767676;
font-size: 1.063em;/* Approximation due to font substitution */
font-weight: 400;
text-align: left;
	}


 .entry-time {
    font-family: Avenir;
color:  #767676;
font-size: 1.125em;/* Approximation due to font substitution */
font-weight: 300;
text-align: left;
}

.author {
  font-family: Avenir;
color:  #767676;
font-size: 1.125em;/* Approximation due to font substitution */
font-weight: 300;
text-align: left;
}

body.blog .footer-comment-count {
    float: right;
    padding: 0 1.5em 0;
}  


body.archive .footer-comment-count {
    float: right;
    padding: 0 1.5em 0;
}  


.navtable{font-family: Avenir;
color:  #767676;
font-size: 0.938em;/* Approximation due to font substitution */
font-weight: 500;
}

td.lefttd {text-align: right;padding: 10px;
border-style:solid;
border-width:0px 0px 0px 0px;
}




td.righttd { text-align: left;padding: 10px;
border-style:solid;
border-width:0px 0px 0px 0px;

}


td.righttd a:hover {
color: #767676;
}


td.lefttd a:hover {
color:  #767676;
}


.single-title, .page-title, .entry-title {
    font-family: Georgia !important;
color:  #0f6748 !important;
font-size: 2.4em;
font-weight: 400;
text-align: left;
transform: scaleY(1.0004);/* width and height properties ommitted due to transform */

}

h1.h2.entry-title a{
    font-family: Georgia !important;
color:  #0f6748 !important;

}

img.featured-image-post .attachment-post-thumbnail .wp-post-image{
	overflow: hidden;
    max-width: 800px !important;
    height: auto !important;
}


.blog .pagination a, .blog .pagination span, .archive .pagination a, .archive .pagination span {
    margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    padding: 0.75em;
    min-width: 1em;
    display: block;
     background-color: #FFF;
   color: #0f6748;
    font-family: Georgia !important;
}


 .pagination li:last-child {
   
    border-right: 0px solid #eaedf2; }

    .pagination a {margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    padding: 0.75em;
    min-width: 1em;
    display: block;
     background-color: #FFF;
   color: #0f6748;
    font-family: Georgia !important;}



 div.amenitiesmenu a.active-item{
 color: #036646;}  


  div.premierbuildermenu a.active-item{
 color: #036646;} 



.error404 #content {
	background-image: url(/wp-content/themes/manor/images/404pg-bg.jpg);
	background-size: cover; 
}

.error404 #inner-content {
	padding-top: 112px;
}

.error404 .hentry {
    background-color: transparent;
   
}




.details-button {
    background-color: #0f6748;
    color: #FFF;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-right: 25px;
    display: block;
    width: 100%;
    text-align: center;
    border: 0px !important;
    margin: 0 auto;
    height: 53px;
}

/*********************
LANDING PAGE
**********************/

.newsletter-submit{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0px !important;
    font-family: Arial !important;
    color: #FFF !important;
    font-size: 20px !important;
    background: #0f6748 !important;
    padding: 10px 20px 10px 20px !important;
    text-decoration: none !important;
    border: 0px !important;
   
}




.lotdetail-information {
	font-family: Georgia;
	color: #0f6748;
	font-size: 1.7em;
}


.white-sub-header-text-center-sm {
    font-family: Georgia;
    color: #FFF;
    font-size: 1.85em;
    font-weight: 400;
    line-height: 0.904;
    text-align: center;
}


.footer-form ::-webkit-input-placeholder {
   color: #fff;
}

.footer-form :-moz-placeholder { /* Firefox 18- */
   color: #fff;
}

.footer-form ::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}

.footer-form :-ms-input-placeholder {  
   color: #fff;
}


.footer-form input[type="text"] {
	 color: #fff;
}

.footer-form textarea {
	padding-top: 7px;
}

