#widgetkit>h2{margin:0
0 10px 0;padding:14px
15px 3px 40px;background:url("/fss/wp-content/plugins/widgetkit/images/widgetkit_32.png") 0px 15px no-repeat}#widgetkit
div.sidebar{width:280px;margin:0
20px 0 0;float:right}#widgetkit
div.form{margin:0
320px 0 0}.tabs-box ul.content .info
code{padding:0;background:none;font-size:12px}.tabs-box ul.content .info
pre{background:#fff}.topbox-window{position:fixed;top:0px;z-index:1000;background-color:#fff;box-shadow:0px 0px 20px #444;border-radius:0px 0px 8px 8px}.topbox-closebutton{position:absolute;right:-15px;top:2px;width:30px;height:30px;background:transparent url("/fss/wp-content/plugins/widgetkit/images/topbox-close.png") 50% 50% no-repeat;cursor:pointer}.topbox-title{padding:6px;font-weight:bold;background:#ddd;background:-moz-linear-gradient(top, #eee, #ddd);background:-webkit-linear-gradient(top, #eee, #ddd);background:-o-linear-gradient(top, #eee, #ddd);background:linear-gradient(to bottom, #eee, #ddd);border-bottom:1px #ccc solid;text-shadow:#F4F4F4 0px 1px 0px}.topbox-content{padding:6px}.topbox-buttonsbar{margin:6px;border-top:1px #ccc dotted}.topbox-buttons{padding:6px
0;text-align:right}.topbox-button{display:inline-block;padding:4px
8px;font-size:80%;cursor:pointer;color:#999}.topbox-button:hover{background:#111;background:-moz-linear-gradient(top, rgba(50, 50, 50, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(20, 20, 20, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);background:-webkit-linear-gradient(top, rgba(50, 50, 50, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(20, 20, 20, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);background:-o-linear-gradient(top, rgba(50, 50, 50, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(20, 20, 20, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);background:linear-gradient(to bottom, rgba(50, 50, 50, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(20, 20, 20, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);box-shadow:inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1),
inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);color:#fff;text-shadow:0px -1px 1px rgba(0, 0, 0, .8),
0 1px 1px rgba(255,255,255,0.3);border-radius:4px}#topbox-overlay{z-index:999;background:#222d3f;opacity:0.5;filter:Alpha(Opacity=50);-ms-filter:Alpha(Opacity=50)}#widgetkit
.editortopbar{text-align:right;position:relative}#widgetkit .editortabs>span{display:inline-block;padding:6px
8px;border-radius:6px 6px 0 0;font-size:12px;color:#999;cursor:pointer}#widgetkit .editortabs>span:hover{color:#333}#widgetkit .editortabs>span.active{background-color:#E9E9E9;border-bottom-color:#E9E9E9;color:#333}