/*
    vimeoEmbedder Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#video .video-container {position:relative; width: 774px; height: 434px;}
#video .video-container img {width:100%; height:100%;}
#video iframe, #video video { display: block; height: 100%; left: 0; position: absolute; top: 0; width: 100%; }
.play { cursor: pointer; height: 40px; left: 50%; margin: -45px 0 0 -58px; padding: 25px; position: absolute; top: 50%; width: 65px; z-index: 1; }
.play span { /*background: url("../img/play.png") no-repeat scroll center -380px #000000; border-radius: 4px 4px 4px 4px; box-shadow: 0 4px 2px -4px rgba(0, 0, 0, 0.4); display: block;*/ height: 40px; opacity: 0.8; width: 65px; }

/*<div id="vimeoEmbedder"></div>*/


.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }