/*
	Todd Motto Labs
	URL: www.toddmotto.com
*/


/*------------------------------------*\
    Flaunt JS Navigation
\*------------------------------------*/


/* Mobile navigation, clickable area for revealing <ul> */
.nav-click {
	position:absolute;
	top:0;
	right:0;
	display:none;
	border-left:1px solid #8B2870;
	height:49px;
	width:50px;
	cursor:pointer;
}
.nav-click i {
	display:block;
	height:48px;
	width:48px;
	background:url(../images/drop.svg) no-repeat center center;
	background-size:20px;
}
.nav-rotate {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .sub-menu:hover .sub-menu {
    display:none;
  }
}